/* responsive design */

/* for mobile devices */

@media screen and (max-width: 576px) {

    .nav-bar,
    .banner-header,
    .banner-header-options,
    .choose-us-cards-row1 {
        flex-direction: column;
    }

    .nav-bar .nav-menu ul {
        display: none;
    }

    .nav-bar {
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-bar .site-title-container .site-title {
        font-size: 1.2rem;
    }

    #bar-icon-responsive {
        display: inline;
    }

    .banner-header-title h1 {
        font-size: 1.3rem;
        margin-top: 32px;
    }

    .banner-header-title p {
        width: auto;
        font-size: 0.8rem;
    }

    .banner-header-options {
        margin-top: 2rem;
    }

    .banner-header-options input {
        width: 80%;
    }

    .banner-header-options select {
        width: 80%;
    }

    .banner-header-options {
        height: 270px;
    }

    /* our popular plan */

    .our-popular-plan {
        margin-top: 20px;
        grid-template-columns: repeat(1, 1fr);
    }

    .our-popular-plan .popular-plan-banner img {
        margin-top: 24px;
    }

    /* choose your destination section  */

    .destination-container {
        margin-top: 24px;
    }

    .destination-headings h3 {
        font-size: 1.3rem;
    }

    .destination-headings p {
        width: auto;
    }

    .img-box {
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .img-box img {
        width: 335px;
        height: 176px;
    }

    .maldives h3{
        top: 50px;
        left: 100px;
    }

    
    .indonesia h3{
        top: 50px;
        left: 100px;
    }
    
    .srilanka h3{
        top: 50px;
        left: 120px;
    }
    
    
    .north-america h3{
        top: 50px;
        left: 60px;
    }
    
    .kashmir h3{
        top: 50px;
        left: 110px;
    }
    
    .bangladesh h3{
        top: 45px;
        left: 90px;
    }
    
    .bandarban h3{
        top: 50px;
        left: 100px;
    } 

    /* why choose us section */

    .choose-us-container {
        margin-top: 24px;
    }

    .choose-us-headings p{
        width: auto;
    }

    .choose-us-cards {
        width: 100%;
        height: 320px;
    }

    .choose-us-cards-container {
        margin-top: 16px;
    }

    .choose-us-cards img {
        margin-left: 16px;
    }

    .choose-us-cards h3 {
        width: auto;
        margin-left: 16px;
        margin-top: 16px;
    }

    .choose-us-cards p {
        width: auto;
        margin: 0 0 0 16px;
    }

    /* newsletter section */

    .newsletter-container {
        margin-top: 24px;
        grid-template-columns: repeat(1, 1fr);
    }

    .newsletter-container .newsletter-subscription {
        width: auto;
        padding: 15px;
    }

    .newsletter-subscription h3 {
        margin: 0;
    }
    .newsletter-subscription p {
        margin: 5px auto;
    }
    
    
    .newsletter-banner .newsletter-sticker {
        width: 60%;
        height: 79px;
        top: 195px;
        left: 128px;
    }

    .newsletter-banner .newsletter-sticker p {
        font-size: 0.9rem;
    }

    .newsletter-banner .newsletter-sticker h3 {
        font-size: 1rem;
    }

    .newsletter-banner img {
        width: 100%;
        height: 300px;
    }

    /* truested by companies section */

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }

    .companies-container {
        margin-top: 24px;
    }

    .companies-container h1 {
        color: var(--headings-text-color);
        font-size: 1.3rem;
    }

    .companies-container .companies-logo {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: fit-content;
    }

    .companies-logo .large-image {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
    #philip {
        margin-top: 10px;
    }

    #asia {
        margin-left: 60px;
    }
    
    #cebu {
        margin-top: 10px;
    }
    
    #expedia {
        margin-top: 10px;
        margin-left: 40px;
    }

    .companies-container .companies-logo .large-image img {
        width: 200px;
    }

    .companies-container .companies-logo .small-image {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }

    /* footer section  */

    .footer {
        margin-top: 48px;
    }

    .footer p {
        width: 90%;
    }

    .footer hr {
        margin: 24px auto 24px auto;
    }
}