@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900;1000&display=swap');

:root {
    --primary-color: #FF5400;
    --headings-text-color: #131318;
    --normal-text-color: #5A5A5D;
    --inner-content-color: #fff;
    --nav-menu-color: #424247;
    --input-placeholder-color: rgba(19, 19, 24, 0.50);
}

body {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

/* shared styles */

.container {
    width: 80%;
    margin: 0 auto;
}

.button {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: var(--primary-color);
    color: var(--inner-content-color);
    border: none;
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
}

.content-headings {
    color: var(--headings-text-color);
    font-size: 1.8rem;
    font-weight: 800;
    line-height: 60px;
}

.content-texts {
    color: var(--normal-text-color);
    font-size: 1rem;
    font-weight: 400px;
    line-height: 1.3rem;
}

/* header section */

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 52px;
}

.nav-bar .site-title-container {
    display: flex;
}

#title-travel {
    color: var(--primary-color);

}

.nav-bar .site-title-container .site-title {
    color: var(--headings-text-color);
    font-size: 1.8rem;
    font-weight: 800;
    margin-left: 1.1rem;
    display: flex;
    align-items: center;
}

.nav-bar .nav-menu ul {
    display: flex;
}

#home {
    color: var(--primary-color);
    font-weight: 700;
}

.nav-bar ul li {
    font-size: 1.1rem;
    list-style-type: none;
    margin-right: 2rem;
    color: var(--nav-menu-color);
}

#bar-icon-responsive {
    display: none;
}

/* header banner section */

.banner-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group13.png');
    margin-top: 60px;
}

.banner-header .banner-header-title {
    margin: 0 auto;
}

.banner-header h1 {
    color: var(--inner-content-color);
    font-size: 3.5rem;
    font-weight: 800;
    text-align: center;
    margin: 106px auto 0 auto;
}

.banner-header p {
    width: 63%;
    color: var(--inner-content-color);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin: 24px auto 0 auto;
}

.banner-header-options {
    width: 80%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin: 48px auto 0 auto;
    position: relative;

}

.banner-header-options input {
    width: 20%;
    height: 50px;
    border-radius: 8px;
    background: var(--inner-content-color);
    border: none;
}

.banner-header-options select {
    width: 20%;
    height: 52px;
    border-radius: 8px;
    background: var(--inner-content-color);
    border: none;
}

#btn-find-now {
    font-size: 0.9rem;
    font-weight: 700;
}

.banner-header-options input:focus, select:focus {
    outline: none;
    text-indent: 15px;
    font-size: 1rem;
}

.banner-header-options input::placeholder {
    color: var(--input-placeholder-color);
    font-size: 1rem;
    font-weight: 400;
    text-indent: 15px;
}

.banner-header-options select {
    color: var(--input-placeholder-color);
    font-size: 1rem;
    font-weight: 400;
    text-indent: 15px;
}

/* our popular plan section */

.our-popular-plan {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 100px;
    justify-content: space-between;
}

.popular-plan-texts {
    width: 90%;
}

.popular-plan-texts ul li {
    margin-top: 1rem;
}

.popular-plan-texts p {
    margin-top: 1.5rem;
}

#btn-read-more {
    margin-top: 2rem;
}

.our-popular-plan .popular-plan-banner img {
    width: 100%;
}

/* choose your destination section */

.destination-container {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.destination-headings {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.destination-headings p {
    margin: 0;
    width: 60%;
}

.destination-collage {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.img-box {
    display: flex;
    gap: 24px;
}